
td.tile {
    background-color: #014067;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px; 
    cursor: pointer; 
    color: white;
}
#message {
    font-family: Arial, Helvetica, sans-serif;
    color:  #014067;
    font-weight: bolder;
}
#main{
    width: 303px;
}
#restart {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    

}
input {
    margin: 10px;
}
#start{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
/* #form {
    display: none;
} */

#padre {
    position: relative;
}
#hijo {
    position: absolute;
    top: 0;
}